@import './base.css';
@import "tailwindcss";


html, body {
  margin: 0;
  padding: 0;
  /* background: transparent; */
  overflow: hidden;
}

button {
  cursor: pointer;
}

.region-drag {
  -webkit-app-region: drag;
}

.region-noDrag {
  -webkit-app-region: no-drag;
}
